body{
    font-family: 'Nunito', sans-serif;
}
a{
    color: #343434;
    text-decoration: none;
}
.navigation{
    z-index: 900;
    -webkit-text-fill-color: inherit;
    background-color: #fff;
    background-clip: border-box;
    align-items: center;
    padding: 12px 0;
    font-size: 18px;
    line-height: 26px;
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .07);
}
.nav-wrap {
    max-width: 1620px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
}
.logo, .logo-footer{
    font-size: 1.5rem; /* 24px */
    line-height: 2rem;
    color: #343434;
}
.nav-item {
    align-items: center;
    margin-right: 0;
    display: flex;
}
.nav-item-children{
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding-right: 0;
    display: flex;
}
.item{
    padding-right: 1rem;
    font-size: 1.125rem; 
    line-height: 1.75rem;
}

.slogan{
    padding-left: 1rem;
    text-align: center;
    /* padding-top: 2rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1rem;
    width: 50%;
    /* font-size: 1.25rem; 
    line-height: 1.75rem;  */
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.phts1{
    width: 100%;
    height: 100%;
    /* max-width: 767px; */
}

.btn, .btn1{
    width: 140px;
    height: 50px;
    background: #343434;
    border-radius: 78px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    display: flex;
}
.btn1{
    background: #E6B31E;

}
.btn:hover, .btn1:hover{
    /* background-color: #2EE59D; */
    background: #FCFAF1;
    /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
    transform: translateY(-7px);

  }
.btn-txt{
    width: 140px;
    height: 50px;
    padding-top: 0.75rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #FCFAF1;
}
.btn-txt:hover{
    color: #343434;

}

.btn2{
    width: 140px;
    height: 50px;
    background: #343434;
    border-radius: 78px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    display: flex;
}


.footer{
    width: 100%;
    height: 344px;
    background-color: #343434;
}

.logo-footer{
    color: #FCFAF1; 
    text-align: center; 
    padding-top: 5rem
}

.logo-menu-wrap{
    display: flex; 
    justify-content: center;
    gap: 2rem;
    text-align: center;
    color: #FCFAF1;
}

.icon-menu-wrap{
    display: flex; 
    justify-content: center;
    gap: 2rem;
    padding-top: 1.5rem;
}

/* about us */
.about-img{
   
    z-index: 0;
    opacity: 0.5;
}
.img-capt {
    color: #FCFAF1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem;
  }
.about-txt{
    color: #343434;
    text-align: center;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 3rem;
}

.img-overlay {
    position: relative;
    margin-left: 2rem;
  }
  
  .img-overlay-image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,.5);
  }
  
  .img-overlay:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color:#FCFAF1;
    position: absolute;
    top: 2rem;
    left: 5%;
    text-align: center;
  }

  /* gallery */
  .phts2{
    width: 100%;
    height: 550px;
    /* max-width: 767px; */
    object-fit: cover;
  }
  .title{
    text-align: center;
    margin-top: 7rem;
    color: #343434;
    font-size: 2.25rem;
  }

  .btn-project{
    /* margin-left: 2rem; */
    /* text-align: center; */
    width: 250px;
    /* height: 50px; */
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .btn-project > .arrow{
    /* margin-left: 6px; */
    width: 50px;
    transition: all;
  }
  .btn-project:hover > .arrow{
    margin-left: 10px;
  }
  .btn-project:hover > p{
    text-decoration: underline;
  }
  .service-image{
    position: relative;
    filter: brightness(50%);
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  .service-content{
    position: absolute;
    z-index: 10;
  }
  .service-title{
    font-size: 2rem;
    color: #FCFAF1;
    padding-left: 2rem;
  }
  .service-txt{
    font-size: 1.25rem;
    color: #FCFAF1;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: justify
  }
  

 